fastapi
uvicorn
python-dotenv
pydantic-settings
python-multipart
aiofiles
pdfplumber
langchain-text-splitters
pinecone
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
google-generativeai
